@import "tailwindcss";
/* -----------------------------
   Disable scroll globally
------------------------------ */
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

/* -----------------------------
   Grid + Background image
------------------------------ */
.bg-grid {
  background-color: #fafafa;

  background-image: url("/background.png"),
    /* correct path */ linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);

  background-repeat: no-repeat, repeat, repeat;

  background-position: center top, left top, left top;

  background-size: cover, 48px 48px, 48px 48px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}